@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}
.perspective:hover .card {
  transform: rotateY(20deg) rotateX(10deg);
}
html {
  scroll-behavior: smooth;
}
.bg-noisy-gradient {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.05)), url("/noise.png");
  background-size: cover;
  background-blend-mode: overlay;
}
